<div class="span-18" style="text-align: center;border-right: 1px solid">
  <span class="span-4"><%= link_to "Home", home_path %></span>
  <span class="span-4"><%= link_to "Documents", documents_path %></span>
</div>
<div class="span-5">
  <%= link_to "Add your items", new_document_path %>
</div>